<ion-header>
  <ion-toolbar class="py-2" lines="none">
    <ion-buttons slot="start">
      <ion-icon routerLink="/tabs/settings" name="chevron-back-outline"></ion-icon>
    </ion-buttons>
     <ion-title class="ion-text-center">Tabata videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-image: url('assets/images/circlebg.svg');">
  <div wrapper>
    <div videoBox routerLink="tabatadetails" style="background-image: url('assets/images/tabata.jpg');">
      <div videoContent>
        <h3>4-Minute Fat Burning Workout...</h3>
        <h4>8:07 mins</h4>
      </div>
    </div>

    <div videoBox routerLink="tabatadetails" style="background-image: url('assets/images/tabata1.jpg');">
      <div videoContent>
        <h3>12-Minute Full Body Tabata W...</h3>
        <h4>8:07 mins</h4>
      </div>
    </div>

    <div videoBox routerLink="tabatadetails" style="background-image: url('assets/images/tabata2.jpg');">
      <div videoContent>
        <h3>TABATA For Beginners</h3>
        <h4>8:07 mins</h4>
      </div>
    </div>

    <div videoBox routerLink="tabatadetails" style="background-image: url('assets/images/tabata3.jpg');">
      <div videoContent>
        <h3>4-Minute Fat Burning Workout...</h3>
        <h4>8:07 mins</h4>
      </div>
    </div>
  </div>
</ion-content>
