<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <div curveBox>
        <img src="assets/images/onboard1.png" svgImg />
      </div>
      <div slideBox>
        <h1>Drink Water</h1>
        <p>The app helps you to drink the optimal amount of water during the whole day! You will feel the difference.</p>
        <div btnFoot>
          <ion-button expand="full" routerLink="/login" shape="round" color="primary">Next</ion-button>
          <a routerLink="/login">Skip</a>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div curveBox>
        <img src="assets/images/onboard2.png" svgImg />
      </div>
      <div slideBox>
        <h1>Add Snacks</h1>
        <p>Monitor all meals and snacks you eat during the whole day. Thanks to this it will be easier to stay fit!.</p>
        <div btnFoot>
          <ion-button expand="full" routerLink="/login" shape="round" color="primary">Next</ion-button>
          <a routerLink="/login">Skip</a>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div curveBox>
        <img src="assets/images/onboard3.png" svgImg />
      </div>
      <div slideBox>
        <h1>Exercise!</h1>
        <p>Add you exercises. Let’s track your workouts in the app for better motivation! .</p>
        <div btnFoot btnFoot1 class="ion-text-center">
          <ion-button expand="full" routerLink="/login" shape="round" color="primary">Continue</ion-button>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
