<ion-header>
  <ion-toolbar class="py-2" lines="none">
    <ion-item>
      <ion-label><img src="assets/images/united.png" /></ion-label>
      <ion-select value="Eng">
        <ion-select-option value="Eng" selected>Eng</ion-select-option>
        <ion-select-option value="Eng1">Eng 1</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content style="background-image: url('assets/images/getstarted1.jpg');">
  <div wrapper>
    <img src="assets/images/getlogo.png" />
    <p>This app will help you <br />
      keep your body fit and strong.</p>
  </div>
</ion-content>

<ion-footer>
  <div bottomBtm class="ion-text-center">
    <a routerLink="/loginteaser">Get Started <ion-icon name="chevron-forward-outline"></ion-icon></a>
  </div>
</ion-footer>
