<ion-header>
  <ion-toolbar class="py-2" lines="none">
    <ion-buttons slot="start">
      <ion-icon routerLink="/tabs/settings" name="chevron-back-outline"></ion-icon>
    </ion-buttons>
     <ion-title class="ion-text-center">Audio and Video Guide</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-image: url('assets/images/circlebg.svg');">
  <div wrapper>
    <h2 class="h2">Video Guides <span routerLink="videoguide">View All <img src="assets/images/arrowri.svg" /></span></h2>

    <div chooseExpert>
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let vid of video">
          <div slideBox routerLink="mealsdetails">
            <div videoBox routerLink="videoguide" style="background-image: url('{{IMAGES_URL}}/{{vid?.thumbnail_image}}');">
              <div videoContent>
                <h3>{{vid?.title}}</h3>
                <h4>{{vid?.duration}} mins</h4>
              </div>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>

    <h2 class="h2">Audio Guides <span routerLink="audioguide">View All <img src="assets/images/arrowri.svg" /></span></h2>

    <div audioBox>
      <ion-row>
        <p *ngIf="audio?.length==0">Audio's not found</p>
        <ion-col size="6" *ngFor="let aud of audio">
          <div audioCon routerLink="audioguide">
            <img src="assets/images/iconsong.svg" />
            <h3>{{aud?.title}}</h3>
          </div>
        </ion-col>
      </ion-row>
    </div>

  </div>
</ion-content>
