<ion-content style="background-image: url('assets/images/video.jpg');">
<div videoSmall>
  <img src="assets/images/videosmall.png" />
</div>
</ion-content>

<ion-footer>
  <div commentbox>
    <ion-row class="ion-text-center">
      <ion-col size="4">
        <img src="assets/images/mute.svg" />
      </ion-col>
      <ion-col size="4">
        <img hoverImg src="assets/images/camera.svg" />
      </ion-col>
      <ion-col size="4">
        <img routerLink="/chat/message" src="assets/images/crossicon.svg" />
      </ion-col>
    </ion-row>
  </div>
</ion-footer>