<ion-header [class.show-background]="showToolbar">
    <ion-toolbar class="py-2" lines="none">
       <ion-back-button slot="start" defaultHref=""  icon="chevron-back-outline">
    </ion-back-button >
       <ion-title slot="start">
        	<h3 main_heading>Book Workout</h3>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [scrollEvents]="true" (ionScroll)="onScroll($event)">
<div wrapper>
        <div calendarbg>
            <div class="flexCal">
                <div *ngFor="let wek of week" class="commoncal" [ngClass]="firstday == wek ? 'active' : 'my_class2'" (click)="getmeals(wek)">
                    <h2>{{getday(wek)}}</h2>
                    <h3>{{wek| date : ' d'}}</h3>
                </div>
            </div>
            <div time-schedule>
                <div inner-main><strong>9am</strong> yoga class <span>@homesplace</span></div>
                <div inner-main><strong>5pm</strong> personal training session with <span>Lucy</span></div>
            </div>
        </div>
        <div book_workout_div>
			<h3 main_heading>Book  your workout</h3>
			<ion-item book_list lines="none" detail="false">
				<ion-label>
					<div date_img_div>
						<div date_div>
							<h3 date_text><span>Tuesday,</span> 13 January, 8:00 </h3>
							<p workout_text>45 min butt & legs</p>
						</div>
						<div img_div>
							<ion-avatar>
								<img src="assets/images/postimg2.jpg"/>
							</ion-avatar>
							<p>with Mel</p>
						</div>
					</div>
					<div place_btn_div>
						<h3 online_text><img src="assets/images/pc-icon.svg"/> Online (home)</h3>
						<div book_btn_div>
							<ion-button book_btn shape="round">Book</ion-button>
						</div>
					</div>
				</ion-label>
			</ion-item>	
			<ion-item book_list booked_list lines="none" detail="false">
				<ion-label>
					<div date_img_div>
						<div date_div>
							<h3 date_text><span>Tuesday,</span> 13 January, 9:00 </h3>
							<p workout_text>60 min yoga</p>
						</div>
						<div img_div>
							<ion-avatar>
								<img src="assets/images/postimg2.jpg"/>
							</ion-avatar>
							<p>with Andre</p>
						</div>
					</div>
					<div place_btn_div>
						<h3 online_text>Homes place (Düsseldorf)</h3>
						<div book_btn_div>
							<ion-button cancel_btn shape="round">Cancel</ion-button>
							<ion-button booked_btn shape="round">Booked</ion-button>
						</div>
					</div>
				</ion-label>
			</ion-item>	
			<ion-item book_list lines="none" detail="false">
				<ion-label>
					<div date_img_div>
						<div date_div>
							<h3 date_text><span>Tuesday,</span> 13 January, 14:00 </h3>
							<p workout_text>45 min circuit pump</p>
						</div>
						<div img_div>
							<ion-avatar>
								<img src="assets/images/postimg2.jpg"/>
							</ion-avatar>
							<p>with frank</p>
						</div>
					</div>
					<div place_btn_div>
						<h3 online_text>Fitclusiv (Düsseldorf)</h3>
						<div book_btn_div>
							<ion-button book_btn shape="round">Book</ion-button>
						</div>
					</div>
				</ion-label>
			</ion-item>	
			<ion-item book_list lines="none" detail="false">
				<ion-label>
					<div date_img_div>
						<div date_div>
							<h3 date_text><span>Tuesday,</span> 13 January, 16:00 </h3>
							<p workout_text>45 min Hiit</p>
						</div>
						<div img_div>
							<ion-avatar>
								<img src="assets/images/postimg2.jpg"/>
							</ion-avatar>
							<p>with agnes</p>
						</div>
					</div>
					<div place_btn_div>
						<h3 online_text><img src="assets/images/pc-icon.svg"/> Online (home)</h3>
						<div book_btn_div>
							<ion-button book_btn shape="round">Book</ion-button>
						</div>
					</div>
				</ion-label>
			</ion-item>
			<ion-item book_list lines="none" detail="false">
				<ion-label>
					<div date_img_div>
						<div date_div>
							<h3 date_text><span>Tuesday,</span> 13 January, 16:30 </h3>
							<p workout_text>30 min abs burner</p>
						</div>
						<div img_div>
							<ion-avatar>
								<img src="assets/images/postimg2.jpg"/>
							</ion-avatar>
							<p>with agnes</p>
						</div>
					</div>
					<div place_btn_div>
						<h3 online_text><img src="assets/images/pc-icon.svg"/> Online (home)</h3>
						<div book_btn_div>
							<ion-button book_btn shape="round">Book</ion-button>
						</div>
					</div>
				</ion-label>
			</ion-item>	
			<ion-item book_list lines="none" detail="false">
				<ion-label>
					<div date_img_div>
						<div date_div>
							<h3 date_text><span>Tuesday,</span> 13 January, 17:30 </h3>
							<p workout_text>60 min bike course</p>
						</div>
						<div img_div>
							<ion-avatar>
								<img src="assets/images/postimg2.jpg"/>
							</ion-avatar>
							<p>with Jordy</p>
						</div>
					</div>
					<div place_btn_div>
						<h3 online_text>Fitclusiv (Düsseldorf)</h3>
						<div book_btn_div>
							<ion-button book_btn shape="round">Book</ion-button>
						</div>
					</div>
				</ion-label>
			</ion-item>			
        </div> </div>
</ion-content>
