<ion-header>
  <ion-toolbar class="py-2" lines="none">
    <!--ion-buttons slot="start">
        <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-buttons-->
	<ion-back-button slot="start" defaultHref="/question5" text="" icon="chevron-back-outline"></ion-back-button>
    <!--ion-title class="ion-text-center"></ion-title-->
	<span slot="end" totalquestion>Question 6 <small>of 16</small></span>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div wrapper>
      <span icon-box>
        <img src="assets/images/qus5.svg" alt="">
      </span>
      <h1 choose-head>Basal Metabolic Rate</h1>
      <p>(Percentage)</p>	
     <ion-item>
    <ion-input readonly value="" [(ngModel)]="metabolic_rate" name="metabolic_rate"></ion-input>
    </ion-item>
      </div>
<span error *ngIf="errors.indexOf(metabolic_rate)>=0 && is_submit_signup == true ">Please enter basal metabolic rate!</span>  
 
</ion-content>
<ion-footer>
  <div gwt-next-foot class="ion-text-center">
     <ion-button shape="round" routerLink="/question7" color="primary">Skip</ion-button>
    <ion-button (click)="submit()" shape="round" color="primary">Next</ion-button>
  </div>
</ion-footer>