ion-header {
	padding: 0 15px;
	position: absolute;
	--box-shadow: none;
	ion-toolbar {
		background-color: transparent;
		--background: transparent;
		--border-width: 0;
		ion-title {
			color: #000;
			font-size: 22px;
			text-transform: uppercase;
			font-weight: 500;
		}
        ion-buttons{
            position: absolute;
            ion-icon{
              font-size: 20px;
              color: #56BCB4;
            }
        }
	}
}


.header-md::after {
	background-image: none
}

ion-content {
	--background: none;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #fff;
	[wrapper] {
        padding: 0 15px 0;
        margin-top: -48px;
        [pdHeading]{
            display: flex;
            align-items: center;
            justify-content: space-between;
            h2{
                margin: 0;
                font-size: 19px;
                color: #000;
                font-weight: 600;
                line-height: 18px;
                span{
                    font-size: 13px;
                    font-weight: 400;
                    color: #0A2549;
                }
            }
            span{
                color: var(--ion-color-primary);
                font-size: 14px;
            }
        }
        [chooseExpert]{
            margin-bottom: 15px;
            margin-top: 35px;
            ::ng-deep {
                .swiper-pagination{
                  display: none;
                }
            }

            h2{
              font-size: 20px;
              font-weight: 600;
              color: #000;
              display: flex;
              justify-content: space-between;
              align-items: center;
              span{
                  font-size: 14px;
                  font-weight: 400;
                  color: var(--ion-color-primary);
                  cursor: pointer;
              }
            }
            [slideBox]{
                margin-bottom: 13px;
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 100%;
                position: relative;
                box-shadow: none;

              img{
                width: 95px;
                margin-bottom: 3px;
                border-radius: 100px;
              }
              h3{
                margin: 0;
                padding-top: 4px;
                font-size: 13px;
                font-weight: 500;
                color: #000;
              }
              p{
                margin: 2px 0 0;
                font-size: 11px;
                color: #999999;
              }
            }
        }
        [padBox] {
            margin: 0;
            display: flex;
            align-items: center;
            width: 100%;
            position: relative;
            border-bottom: 1px solid #D4DBED;
            padding: 13px 0;
           ion-label
           {
               width: 100%;
           }
            h6{
                margin: 0;
            }
            [downLoadImg] {
                position: absolute;
                right: 45px;
                cursor: pointer;
                font-size: 13px;
                color: #949FAF;
                top: 18px;
                line-height: 18px;
                text-align: right;
                h6{
                    font-size: 12px;
                }
            }
            [downLoadImg1] {
                position: absolute;
                right: 0;
                top: 18px;

            }
            &[activesong]{
                ion-label{
                    [epiHeading]{
                        color: var(--ion-color-primary);
                    }
                }
            }
            ion-thumbnail {
                min-width: 45px;
                height: 45px;
                margin: 0px;
                position: relative;
                margin-right: 12px;
				a {
					display: block;
					height: 100%;
					img {
						height: 45px;
						min-width: 45px;
						object-fit: cover;
                        border-radius: 6px;
					}
				}
			}
            ion-label{
                a{
                    text-decoration: none;
                    display: block;
                    margin-bottom: 2px;
                }
                [epiHeading]{
                    font-weight: 500;
                    padding-right: 72px;
                }
                h2{
                    font-size: 13px;
                    color: #949FAF;
                }
            }
        }
        [boxShadow]{
            margin-bottom: 10px;
            padding: 0 15px;
            background: #FFFFFF;
            box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.12);
            border-radius: 8px;
            [padBox]:last-child{
                border: none;
            }
        }
    }
    [fixback]{
        background-color: #D6EBE9;
        padding: 40px 15px 60px;
        [norecord]
        {
      font-size: 24px;
    text-align: Center;
    display: flex;
    height: calc(100vh - 148px);
    align-items: center;
    justify-content: center;
        }
        h2{
            margin: 0 0 10px;
            font-size: 22px;
            font-weight: 500;
        }
        span{
            color: #0A2549;
            font-size: 15px;
        }
        ion-img{
            width: 100%;
            height: 160px;
            object-fit: cover;
        }
        [fixbackContent]{
            height: 160px;
            display: flex;
            flex-direction: column;
            ion-button{
                margin-top: auto;
                margin-bottom: 0;
            }
        }
    }
}


ion-segment{
  background-color: transparent;
  margin-bottom: 20px;
}

ion-segment-button{
  font-size: 15px;
  color: #0A2549;
  border-bottom: 3px solid transparent;
}

.segment-button-checked
{
    height: 45px;
    border-radius: 0;
    --indicator-color: none;
    --indicator-height: none;
    background-color: transparent;
    border-bottom: 3px solid #66C2BB;
	span
	{
		color: #0A2549;
	}
}

ion-segment-button.md{
  font-size: 13px;
}

[mb10]{
    margin-bottom: 15px;
}

[summaryPara]{
    font-size: 17px;
    line-height: 170%;
}
