<ion-header>
  <ion-toolbar class="py-2" lines="none">
    <ion-buttons slot="start">
      <ion-icon routerLink="/tabs/tab1" name="chevron-back-outline"></ion-icon>
    </ion-buttons>
     <ion-title class="ion-text-center">Food Responsible Fat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div wrapper>
    <div padBox>
      <ion-thumbnail>
        <a routerLink="/foodrecomendation"><img src="assets/images/food1.png"/></a>
      </ion-thumbnail>
      <ion-label>
        <p class="mt-0" category> <a routerLink="/foodrecomendation"><span>Avocados</span></a> </p>
        <p pricePro><span>Whereas most fruits primarily contain carbs, avocados are loaded with fats.</span></p>
      </ion-label>
    </div>

    <div padBox>
      <ion-thumbnail>
        <a routerLink="/foodrecomendation"><img src="assets/images/food2.png"/></a>
      </ion-thumbnail>
      <ion-label>
        <p class="mt-0" category> <a routerLink="/foodrecomendation"><span>Cheese</span></a> </p>
        <p pricePro><span>This makes sense, given that an entire cup of milk is used to produce a single thick slice of cheese.</span></p>
      </ion-label>
    </div>

    <div padBox>
      <ion-thumbnail>
        <a routerLink="/foodrecomendation"><img src="assets/images/food3.png"/></a>
      </ion-thumbnail>
      <ion-label>
        <p class="mt-0" category> <a routerLink="/foodrecomendation"><span>Dark Chocolate</span></a> </p>
        <p pricePro><span>Dark chocolate is one of those rare health foods that actually taste incredible.</span></p>
      </ion-label>
    </div>

    <div padBox>
      <ion-thumbnail>
        <a routerLink="/foodrecomendation"><img src="assets/images/food4.png"/></a>
      </ion-thumbnail>
      <ion-label>
        <p class="mt-0" category> <a routerLink="/foodrecomendation"><span>Whole Eggs</span></a> </p>
        <p pricePro><span>Whole eggs used to be considered unhealthy because the yolks are high in cholesterol and fat.</span></p>
      </ion-label>
    </div>

  </div>
</ion-content>
