<ion-content>
  <div filtersec>
    <h1>Choose Appointment Type</h1>
    	<div checkboxlist>
			<div checkboxinner>
				<input type="radio" id="checkbox1"  name="checkbox" style="display:none"/>
				<label colorbg1 for="checkbox1"> <img src="assets/images/appicon.svg" /> Schedule Online Session  </label>
			</div>
			<div checkboxinner>
				<input type="radio" id="checkbox2"  name="checkbox" style="display:none"/>
				<label colorbg1 for="checkbox2"> <img src="assets/images/appicon.svg" /> Schedule Chat </label>
			</div>
			<div checkboxinner>
				<input type="radio" id="checkbox3"  name="checkbox" style="display:none"/>
				<label colorbg1 for="checkbox3"> <img src="assets/images/appicon.svg" /> Schedule Personal Meeting </label>
			</div>
		</div>
  </div>
</ion-content>