<ion-header>
  <ion-toolbar class="py-2" lines="none">
    <ion-buttons slot="start">
      <ion-icon routerLink="/aim" name="chevron-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center">Activity level</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div wrapper>
    <p class="pHeader">Complete Your Personal Fitness Profile</p>
    <div aimCon yellowBg (click)="showInput('High')" class="mt30 High activity ">
      <div aimBox >
        <h2>High</h2>
        <img src="assets/images/high.png" bmc />
      </div>
      <div inputDiv *ngIf="shInput">
        <ion-input type="text" placeholder="Type here..." autocapitalize="off"></ion-input>
      </div>
    </div>
    <div aimCon (click)="showInput('Average')" class=" Average activity ">
      <div aimBox>
        <h2>Average</h2>
        <img src="assets/images/average.png" bmc />
      </div>
    </div>
    <div aimCon (click)="showInput('Low')" class=" Low activity">
      <div aimBox>
        <h2>Low</h2>
        <img src="assets/images/low.png" bmc />
      </div>
    </div>

    <div bottomBtm class="ion-text-center">
        <ion-button shape="round" class="skipbtn" routerLink="/subscriptions" color="primary">Skip</ion-button>
      <ion-button shape="round" (click)="submit()" color="primary">Submit</ion-button>
    </div>
  </div>

</ion-content>
