ion-header {
  padding: 0 6px;
  position: absolute;
  --box-shadow: none;

  ion-toolbar {
    background-color: transparent;
    --background: transparent;
    --border-width: 0;

    ion-title {
      color: #000;
      font-size: 22px;
      font-weight: 500;
    }

    ion-buttons {
      position: absolute;

      ion-icon {
        font-size: 20px;
        color: #56BCB4;
      }
    }
  }
}

.header-md::after {
  background-image: none
}

ion-content {
  --background: none;
  position: relative;

  [wrapper] {
    padding: 45px 15px 15px;

    .pHeader {
      font-size: 18px;
      width: 80%;
      margin: 0 auto;
      text-align: center;
      line-height: 25px;
      color: #575757;
    }

    [aimCon] {
      background-color: #FEF4DB;
      border-radius: 16px;
      margin-bottom: 15px;

      &[yellowBg] {
        [aimBox] {
          background: linear-gradient(180deg, #FBCA4A 28.79%, #F5BA35 88.77%);
        }
      }

      &.mt30 {
        margin-top: 30px;
      }

      [inputDiv] {
        padding: 15px;
      }

      ion-input {
        border: 1px solid #F4B331;
        --padding-start: 10px;
        border-radius: 10px;
        height: 49px;

        img {
          margin-right: 15px;
          position: relative;
          left: 15px;
        }
      }

      [aimBox] {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 16px;
        background-color: #CCEBE9;
        overflow: hidden;
        position: relative;
        height: 140px;

        @media(max-width:320px) {
          padding: 20px 25px 20px 0;
        }

        h2 {
          margin: 0;
          font-weight: 500;
          color: #fff;
          padding: 15px 20px;
          font-size: 23px;
          width: 100%;
          z-index: 2;
        }

        [bmc] {
          position: absolute;
        }

        img {
          height: 140px;
          width: 100%;
          object-fit: cover;
        }

      }

      // &.active{
      //   [aimBox]{
      //     border:1px solid #3B847E;
      //   }
      // }
    }

    [bottomBtm] {
      margin-top: 25px;
      position: relative;
      left: 0;
      bottom: 0;
      transform: translate(0, 0);
    }
  }
}

.show {

  display: block !important;
}

ion-input {
  border: 1px solid #F4B331;
  --padding-start: 10px;
  border-radius: 10px;
  height: 49px;

  img {
    margin-right: 15px;
    position: relative;
    left: 15px;
  }
}

[inputDiv] {
  padding: 15px;
  background-color: #FEF4DB;
  border-radius: 16px;
  margin-bottom: 15px;
}

.skipbtn {
  top: 15px;
}
