ion-content
{
	[filtersec]
	{
	    padding: 20px;
	    [closebtn]
		{
		    display: flex;
			align-items: center;
			justify-content: center;
			width: 26px;
			height: 26px;
			font-size: 20px;
			position: absolute;
			right: 12px;
			top: 12px;
			z-index: 1;
			border-radius: 50%;
			background: var(--ion-color-primary);
			color: var(--ion-color-white);
		}
	    [headsec]
		{
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            ion-item{
                margin-bottom: 10px;
            }
            ion-icon{
                margin: 0 5px;
                font-size: 30px;
            }
            [name="star"]{
                color: #FFCC00;
            }
		}
	}
}
