<ion-tabs>

  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="activity-new">
  <img hmimg src="assets/images/icon-1.png" />
    </ion-tab-button>

    <ion-tab-button tab="findgym">
 <img hmimg src="assets/images/icon-2.png" />
    </ion-tab-button>

    <ion-tab-button centerhome tab="home-new">
  <img hmimg src="assets/images/icon-3.png" />
    </ion-tab-button>

    <ion-tab-button tab="find-expert">
  <img hmimg src="assets/images/icon-4.png" />
    </ion-tab-button>

    <ion-tab-button tab="settings">
    <img hmimg src="assets/images/icon-5.png" />
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
