<ion-content>
  <!-- End Circle Img -->
  <div login>
  <div class="ion-text-right">
        <img class="logs" src="assets/images/benfit_logo.png">
      </div>
    <form>
      <div class="ion-text-right">
	  <img class="my-mn" src="assets/images/mn.png">
      </div>
	  <h4>Hi tom,</h4>
	  <img class="lts-m" src="assets/images/lets-st.png">
      <ion-list lines="none">
        <ion-item lines="none" class="ion-no-padding">
          <ion-input type="email" name="email" placeholder="Enter Email" autocapitalize="off">
          </ion-input>
        </ion-item>
          
      </ion-list>

     
     
       <ion-button loginbt expand="full" shape="round" color="" (click)="login()">Reset Password</ion-button>

    </form>
  </div>
</ion-content>
