<ion-content >
  <ion-img src="assets/images/loginbg.jpg" fiximg></ion-img>

  <!-- Cicle Img -->
  <ion-img src="assets/images/circle.svg" circle></ion-img>
  <!-- End Circle Img -->
  <div login>
    <ion-img src="assets/images/logo.png" logo alt="Logo"></ion-img>
   <form>
      <div class="ion-text-center">
        <h1>Reset Password</h1>
      </div>
      <ion-list lines="none">
        <div class="labeltxt">Password</div>
        <ion-item lines="none" class="ion-no-padding">
          <ion-input [type]="hidePass ? 'password' : 'text'"  name="password" autocapitalize="off" [(ngModel)]="password">
          </ion-input>
          <ion-icon eyesIcon [name]="hidePass ? 'eye-off-outline' : 'eye'" (click)="myFunction()"></ion-icon>
        </ion-item>
        <span error *ngIf="errors.indexOf(password) >= 0 && is_submit_login == true">Please enter password</span>
        <span error *ngIf="errors.indexOf(password) ==-1 && is_submit_login == true && !reg_password.test(password)">Password must be Minimum eight characters, at least one letter, one number and one special character!</span>
      </ion-list>

    <ion-list lines="none">
        <div class="labeltxt">Confirm Password</div>
        <ion-item lines="none" class="ion-no-padding">
          <ion-input [type]="hidePass ? 'password' : 'text'"  name="cpassword" autocapitalize="off" [(ngModel)]="cpassword">
          </ion-input>
          <ion-icon eyesIcon [name]="hidePass ? 'eye-off-outline' : 'eye'" (click)="myFunction()"></ion-icon>
        </ion-item>
        <span error *ngIf="errors.indexOf(cpassword) >= 0 && is_submit_login == true">Please enter confirm password</span>
        <span error *ngIf="errors.indexOf(cpassword) ==-1 && is_submit_login == true && password!=cpassword">Password and confirm password does not match!</span>
      </ion-list>
      <!--ion-button expand="full" routerLink="/tabs/tab1" shape="round" color="primary" >Login</ion-button-->
       <ion-button expand="full" shape="round" color="primary" (click)="save()">Submit</ion-button>
      <p bottomlink>Back to login? <a routerLink="/login">Login</a></p>
    </form>

  </div>
</ion-content>
