<ion-header>
  <ion-toolbar class="py-2" lines="none">
    <ion-buttons slot="start">
      <ion-icon routerLink="/tabs/settings" name="chevron-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center">New Post</ion-title>
    <ion-buttons slot="end">
      <img routerLink="/appcamera" src="assets/images/newcam.svg" />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/images/newpost.png" postNew />
  <div wrapper>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="3">
          <img src="assets/images/gym1.png" gymimg />
        </ion-col>
        <ion-col size="3">
          <img src="assets/images/gym2.png" gymimg />
        </ion-col>
        <ion-col size="3">
          <img src="assets/images/gym3.png" gymimg />
        </ion-col>
        <ion-col size="3">
          <img src="assets/images/gym1.png" gymimg />
        </ion-col>
        <ion-col size="3">
          <img src="assets/images/gym2.png" gymimg />
        </ion-col>
        <ion-col size="3">
          <img src="assets/images/gym3.png" gymimg />
        </ion-col>
        <ion-col size="3">
          <img src="assets/images/gym1.png" gymimg />
        </ion-col>
        <ion-col size="3">
          <img src="assets/images/gym2.png" gymimg />
        </ion-col>
        <ion-col size="3">
          <img src="assets/images/gym3.png" gymimg />
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer>
  <ion-button routerLink="newpost" shape="round">Next</ion-button>
</ion-footer>