ion-header {
    padding: 10px 15px;
	padding-top: 20px;
    position: absolute;
    --box-shadow: none;
	ion-title {
    text-align: center;
    color: #2AB4AE;
    font-size: 25px;
    font-weight: 700;
	
}
ion-toolbar {
    background: transparent;
    --background: transparent;
}
ion-title {
    text-align: center;
    color: #2AB4AE;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 700;
	    padding: 0 80px;
}
}
ion-content{
--background: linear-gradient(177deg, #bae9e5 23%, #e8f9f7 56%) !important;
[wrapper]{
padding: 85px 15px 0;

}
.covrz{
display: flex;
    align-items: center;
 img {
  width: 100px;
    height: 100px;
    object-fit: cover;
}
[mainz-sid] {
    padding-left: 12px;
	h4 {
  margin-bottom: 0;
    font-size: 25px;
    color: #2AB4AE;
    font-weight: 600;
    margin-top: 0;
}
p {
   margin: 0;
    color: #707070;
    font-size: 11px;
    margin-top: 4px;
}
}
}
.mains {
    margin-bottom: 26px;
}
.mainmd{
margin-top: 20px;
margin-bottom: 20px;}
h4{color: #2AB4AE;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    margin-top: 10px;}
	p{
    margin: 0;
    margin-top: 4px;
    font-size: 12px;
    font-weight: 400;
    color: #707070;
}
}
.show-background {
    background: #2ab4ae;
    padding: 0 !important;
	ion-title {
    color: #fff;
	}
	ion-back-button {
    color: #fff;
}
}
	[wrapper]{
padding: 85px 15px 0;
}