<ion-content style="background-image: url('assets/images/circlebg.svg');">
  <img src="assets/images/skipping.png" skipping />
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <img src="assets/images/skipdata.png" />
      </ion-col>
      <ion-col size="6" class="ion-text-right">
        <a routerLink="/">Next Exercise >></a>
        <p>200 x Jumping Jacks</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div footData>
    <h3>50 x Skipping Jumps</h3>
    <ion-icon routerLink="/tabata/tabatadetails" name="close-circle-outline"></ion-icon>
  </div>
</ion-footer>