<ion-header>
  <ion-toolbar class="py-2" lines="none">
    <!--ion-buttons slot="start">
        <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-buttons-->
	<ion-back-button slot="start" defaultHref="/question2" text="" icon="chevron-back-outline"></ion-back-button>
    <!--ion-title class="ion-text-center"></ion-title-->
	<span slot="end" totalquestion>Question 3 <small>of 16</small></span>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div wrapper>
      <span icon-box>
        <img src="assets/images/qus3.svg" alt="">
      </span>
      <h1 choose-head>What is your Current weight?</h1>
      <div radiolist>
         <div radioinner>
          <input type="radio" id="kg"  name="type"  [(ngModel)]="type" style="display:none" value="Kg"
          />
          <label for="kg">
              kg
          </label>
        </div>
        <div radioinner>
            <input type="radio" id="lbs" checked name="type" [(ngModel)]="type"  style="display:none" value="lbs"/>
            <label for="lbs">
                lbs
            </label>
        </div>
       
      </div>	
     <ion-item>
<ion-input  value="" [(ngModel)]="weight" name="weight"></ion-input>
</ion-item>
<span error *ngIf="errors.indexOf(weight)>=0 && is_submit_signup == true ">Please enter weight!</span>  
<span error *ngIf="errors.indexOf(weight) ==-1 && is_submit_signup == true && !regex.test(weight)">Not a valid format!</span>	
    </div>
</ion-content>
<ion-footer>
  <div gwt-next-foot class="ion-text-center">
     <ion-button shape="round" routerLink="/question4" color="primary">Skip</ion-button>
    <ion-button (click)="submit()" shape="round" color="primary">Next</ion-button>
  </div>
</ion-footer>