ion-header {
	padding: 0 15px;
	position: absolute;
	--box-shadow: none;
	ion-toolbar {
		background-color: transparent;
		--background: transparent;
		--border-width: 0;
		ion-title {
			color: #000;
			font-size: 22px;
			text-transform: uppercase;
			font-weight: 500;
		}
				ion-buttons , ion-back-button{
			position: absolute;
			font-size: 20px;
			color: #56BCB4;
			left: -10px;
			z-index:99;
			ion-icon {
				font-size: 20px;
				color: #56BCB4;
			}
		}
	
	}
}

.header-md::after {
	background-image: none
}

ion-content {
	--background: none;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #fff;
	[wrapper] {
		padding: 60px 15px 0;
        [expertBox]{
			text-align: center;
			p{
				margin: 4px 0 0;
				font-size: 16px;
			}
		}
	}
}


ion-footer{
    margin-bottom: 10px;
    padding: 0 15px;
    [bottomBtm]
      {
        position: relative;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transform: translate(0,0);
  
        ion-button{
          // box-shadow: 0px 4px 54px rgba(86, 188, 180, 0.5) !important;
          border-radius: 100px;
          margin-top: 10px;
          width: 100%;
        }
    }
}
  