<ion-content >
  <ion-img src="assets/images/loginbg.jpg" fiximg></ion-img>

  <!-- Cicle Img -->
  <ion-img src="assets/images/circle.svg" circle></ion-img>
  <!-- End Circle Img -->
  <div login>
    <ion-img src="assets/images/logo.png" logo alt="Logo"></ion-img>
    <form class="form_forgot">
      <div class="ion-text-center">
        <h1>Forgot Password</h1>
        <p>Please, enter your email address. You will
          receive a link to create a new password
          via email.</p>
      </div>
      <ion-list lines="none">
        <div class="labeltxt">Email Address</div>
        <ion-item lines="none" class="ion-no-padding">
          <ion-input type="email" placeholder="Enter Email" name="email" autocapitalize="off" [(ngModel)]="forgot_email" name="forgot_email">
          </ion-input>
        </ion-item>
          <span error *ngIf="errors.indexOf(forgot_email) >= 0 && is_submit_login == true">Please enter your email address</span>
            <span error *ngIf="errors.indexOf(forgot_email) == -1 && is_submit_login == true 
          && !reg_exp.test(forgot_email.toLowerCase())">Please enter valid email address</span>
      </ion-list>
      <ion-button expand="full" shape="round" color="primary" (click)="submit()" >Send</ion-button>
      <p bottomlink> <a routerLink="/login">Back to Login</a></p>
    </form>

  </div>
</ion-content>
