<ion-header>
  <ion-toolbar class="py-2" lines="none">
	 <ion-back-button slot="start" defaultHref="/gallery"  icon="close-outline">
    </ion-back-button>
    <!-- <ion-title class="ion-text-center">Subscription</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content style="background-image: url('assets/images/appcamera.png');">
</ion-content>

<ion-footer>
  <img src="assets/images/flash.svg" />
  <img src="assets/images/clickpic.svg" clickPic />
  <img src="assets/images/cam.svg" />
</ion-footer>