<ion-header [class.show-background]="showToolbar">
    <ion-toolbar class="py-2" lines="none">
       <ion-back-button slot="start" defaultHref=""  icon="chevron-back-outline">
    </ion-back-button >
       <ion-title slot="start">
        	<h3 main_heading>Find Your Expert</h3>
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
<div wrapper>
<ion-row mb-30>
 <ion-col size="6">
<div experts>
<div picture-img>
<p>Picture missing</p>
</div>
<h3 routerLink="/bookexpert">Nutrition coach</h3>
</div>
 </ion-col>
  <ion-col size="6">
  <div experts>
<div picture-img>
<p>Picture missing</p>
</div>
<h3 routerLink="/bookexpert">Personal trainer</h3>
</div>
</ion-col>
</ion-row>
<ion-row mb-30>
 <ion-col size="6">
<div experts>
<div picture-img>
<p>Picture missing</p>
</div>
<h3 routerLink="/bookexpert">Yoga teacher</h3>
</div>
 </ion-col>
  <ion-col size="6">
  <div experts>
<div picture-img>
<p>Picture missing</p>
</div>
<h3 routerLink="/bookexpert">Physio trainer</h3>
</div>
</ion-col>
</ion-row>
<ion-row mb-30>
 <ion-col size="6">
<div experts>
<div picture-img>
<p>Picture missing</p>
</div>
<h3 routerLink="/bookexpert">Mental health
Coach</h3>
</div>
 </ion-col>
  <ion-col size="6">
  <div experts>
<div picture-img>
<p>Picture missing</p>
</div>
<h3 routerLink="/bookexpert">Crossfit
Coach</h3>
</div>
</ion-col>
</ion-row>
<ion-row mb-30>
 <ion-col size="6">
<div experts>
<div picture-img>
<p>Picture missing</p>
</div>
<h3 routerLink="/bookexpert">Running coach</h3>
</div>
 </ion-col>
  <ion-col size="6">
  <div experts>
<div picture-img>
<p>Picture missing</p>
</div>
<h3>View all</h3>
</div>
</ion-col>
</ion-row>
</div>
</ion-content>
