<ion-header>
  <ion-toolbar class="py-2" lines="none">
    <!--ion-buttons slot="start">
        <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-buttons-->
	<ion-back-button slot="start" defaultHref="/question5" text="" icon="chevron-back-outline"></ion-back-button>
    <!--ion-title class="ion-text-center"></ion-title-->
	<span slot="end" totalquestion>Question 6 <small>of 15</small></span>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div wrapper>
      <span icon-box>
        <img src="assets/images/qus7.svg" alt="">
      </span>
      <h1 choose-head>Hours of sleep per night</h1>
        <ion-item>
    <ion-label>Hours of sleep </ion-label>
    <ion-select value="" okText="Okay" cancelText="Dismiss" name="hours_sleep" [(ngModel)]="hours_sleep">
      <ion-select-option value="{{hour}}" *ngFor="let hour of hours">{{hour}}</ion-select-option>
    </ion-select>
  </ion-item>
  <span error *ngIf="errors.indexOf(hours_sleep)>=0 && is_submit_signup == true ">Please select hours of sleep per night</span>  
    </div>

</ion-content>
<ion-footer>
  <div gwt-next-foot class="ion-text-center">
     <ion-button shape="round" routerLink="/question8" color="primary">Skip</ion-button>
    <ion-button (click)="submit()" shape="round" color="primary">Next</ion-button>
  </div>
</ion-footer>