<ion-header >
  <ion-toolbar class="py-2" lines="none">
    <ion-buttons slot="start">
      <ion-icon routerLink="/devicepair/watchbrand" name="chevron-back-outline"></ion-icon>
    </ion-buttons>
     <ion-title class="ion-text-center">Select a Watch to pair</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-image: url('assets/images/circlebg.svg');">
  <div wrapper>
    <div padBox>
      <ion-thumbnail>
        <img src="assets/images/pair.png"/>
      </ion-thumbnail>
      <ion-label>
        <p class="mt-0" category><span>Apple Watch SE</span></p>
        <p pricePro>Lorem ipsum dolor sit amet, consectetur  elit. </p>
      </ion-label>
    </div>

    <div padBox>
      <ion-thumbnail>
        <img src="assets/images/pair1.png"/>
      </ion-thumbnail>
      <ion-label>
        <p class="mt-0" category><span>Apple Watch Series 3</span></p>
        <p pricePro>Lorem ipsum dolor sit amet, consectetur  elit. </p>
      </ion-label>
    </div>

    <div padBox>
      <ion-thumbnail>
        <img src="assets/images/pair.png"/>
      </ion-thumbnail>
      <ion-label>
        <p class="mt-0" category><span>Apple Watch SE</span></p>
        <p pricePro>Lorem ipsum dolor sit amet, consectetur  elit. </p>
      </ion-label>
    </div>

    <div padBox>
      <ion-thumbnail>
        <img src="assets/images/pair1.png"/>
      </ion-thumbnail>
      <ion-label>
        <p class="mt-0" category><span>Apple Watch Series 3</span></p>
        <p pricePro>Lorem ipsum dolor sit amet, consectetur  elit. </p>
      </ion-label>
    </div>

    <div padBox>
      <ion-thumbnail>
        <img src="assets/images/pair.png"/>
      </ion-thumbnail>
      <ion-label>
        <p class="mt-0" category><span>Apple Watch SE</span></p>
        <p pricePro>Lorem ipsum dolor sit amet, consectetur  elit. </p>
      </ion-label>
    </div>

    <div padBox>
      <ion-thumbnail>
        <img src="assets/images/pair1.png"/>
      </ion-thumbnail>
      <ion-label>
        <p class="mt-0" category><span>Apple Watch Series 3</span></p>
        <p pricePro>Lorem ipsum dolor sit amet, consectetur  elit. </p>
      </ion-label>
    </div>
  </div>
</ion-content>
