<ion-header>
  <ion-toolbar class="py-2" lines="none">
     <ion-back-button slot="start" defaultHref="/tabs/tab1"  icon="chevron-back-outline">
    </ion-back-button >
     <ion-title class="ion-text-center">Choose equipment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div wrapper>
    <ion-row>
      <ion-col size="6">
        <div workOut routerLink="/coupons">
          <label>
            <div class="panel panel-default card-input ion-text-center">
              <div class="panel-body">
                <img src="assets/images/equip1.png" />
                <h3>Treadmill</h3>
              </div>
            </div>
          </label>
        </div>
      </ion-col>

      <ion-col size="6">
        <div workOut routerLink="/coupons">
          <label>
            <div class="panel panel-default card-input ion-text-center">
              <div class="panel-body">
                <img src="assets/images/equip2.png" />
                <h3>Weight Bench</h3>
              </div>
            </div>
          </label>
        </div>
      </ion-col>

      <ion-col size="6">
        <div workOut routerLink="/coupons">
          <label>
            <div class="panel panel-default card-input ion-text-center">
              <div class="panel-body">
                <img src="assets/images/equip3.png" />
                <h3>Stationary Bike</h3>
              </div>
            </div>
          </label>
        </div>
      </ion-col>

      <ion-col size="6">
        <div workOut routerLink="/coupons">
          <label>
            <div class="panel panel-default card-input ion-text-center">
              <div class="panel-body">
                <img src="assets/images/equip4.png" />
                <h3>Weights</h3>
              </div>
            </div>
          </label>
        </div>
      </ion-col>

      <ion-col size="6">
        <div workOut routerLink="/coupons">
          <label>
            <div class="panel panel-default card-input ion-text-center">
              <div class="panel-body">
                <img src="assets/images/equip5.png" />
                <h3>Workout Unit</h3>
              </div>
            </div>
          </label>
        </div>
      </ion-col>

      <ion-col size="6">
        <div workOut routerLink="/coupons">
          <label>
            <div class="panel panel-default card-input ion-text-center">
              <div class="panel-body">
                <img src="assets/images/equip6.png" />
                <h3>Squat Racks</h3>
              </div>
            </div>
          </label>
        </div>
      </ion-col>

    </ion-row>
  </div>
</ion-content>
