<ion-header>
  <ion-toolbar class="py-2" lines="none">
    <!--ion-buttons slot="start">
        <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-buttons-->
	<ion-back-button slot="start" defaultHref="/question10" text="" icon="chevron-back-outline"></ion-back-button>
    <!--ion-title class="ion-text-center"></ion-title-->
	<span slot="end" totalquestion>Question 9 <small>of 15</small></span>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div wrapper>
		<span icon-box>
			<img src="assets/images/favourite-sports-icon.svg" alt="">
		</span>
		<h1 choose-head>Favourite Sports?</h1>
		<ion-list lines="none">
			<ion-item lines="none" class="ion-no-padding">
			   <ion-select placeholder="Select " name="fav_sports" [(ngModel)]="fav_sports">
					<ion-select-option value="{{sport}}"   *ngFor="let sport of sports">{{sport}}</ion-select-option>
					
				</ion-select>
			</ion-item>
			<span error *ngIf="errors.indexOf(fav_sports)>=0 && is_submit_signup == true ">Please select your favourite sports</span> 
		</ion-list>	
    </div>
</ion-content>
<ion-footer>
  <div gwt-next-foot class="ion-text-center">
  	 <ion-button shape="round" routerLink="/question12" color="primary">Skip</ion-button>
    <ion-button (click)="submit()" shape="round" color="primary">Next</ion-button>
  </div>
</ion-footer>