<ion-header>
  <ion-toolbar class="py-2" lines="none">
    <!-- <ion-buttons slot="start">
      <ion-icon routerLink="" name="chevron-back-outline"></ion-icon>
    </ion-buttons> -->
     <ion-title class="ion-text-center">Watch Brands</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-image: url('assets/images/circlebg.svg');">
  <div wrapper>
    <div settingTab >
      <div settingTabHead routerLink="/devicepair/pair">
        <div accHeader>
          Apple
          <img src="assets/images/rightarrow.svg" />
        </div>
      </div>

      <div settingTabHead routerLink="/devicepair/pair">
        <div accHeader>
          Samsung
          <img src="assets/images/rightarrow.svg" />
        </div>
      </div>

      <div settingTabHead routerLink="/devicepair/pair">
        <div accHeader>
          Noise
          <img src="assets/images/rightarrow.svg" />
        </div>
      </div>

      <div settingTabHead routerLink="/devicepair/pair">
        <div accHeader>
          Mi
          <img src="assets/images/rightarrow.svg" />
        </div>
      </div>

      <div settingTabHead routerLink="/devicepair/pair">
        <div accHeader>
          Realme
          <img src="assets/images/rightarrow.svg" />
        </div>
      </div>

      <div settingTabHead routerLink="/devicepair/pair">
        <div accHeader>
          Fossil
          <img src="assets/images/rightarrow.svg" />
        </div>
      </div>

      <div settingTabHead routerLink="/devicepair/pair">
        <div accHeader>
          Oppo
          <img src="assets/images/rightarrow.svg" />
        </div>
      </div>

      <div settingTabHead routerLink="/devicepair/pair">
        <div accHeader>
          Oneplus
          <img src="assets/images/rightarrow.svg" />
        </div>
      </div>

      <div settingTabHead routerLink="/devicepair/pair">
        <div accHeader>
          Boat
          <img src="assets/images/rightarrow.svg" />
        </div>
      </div>

    </div>
  </div>
</ion-content>

