ion-header {
	padding: 0 15px;
	position: absolute;
	--box-shadow: none;
	ion-toolbar {
		background-color: transparent;
		--background: transparent;
		--border-width: 0;
		ion-title {
			color: #000;
			font-size: 22px;
			text-transform: uppercase;
			font-weight: 500;
		}
        ion-buttons{
            position: absolute;
            ion-icon{
              font-size: 20px;
              color: #56BCB4;
            }
        }
	}
}


.header-md::after {
	background-image: none
}

ion-content {
	--background: none;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #fff;
	[wrapper] {
		padding: 50px 15px 0;
        [pdHeading]{
            display: flex;
            align-items: center;
            justify-content: space-between;
            h2{
                margin: 0;
                font-size: 19px;
                color: #000;
                font-weight: 600;
                line-height: 18px;
                span{
                    font-size: 13px;
                    font-weight: 400;
                    color: #0A2549;
                }
            }
            span{
                color: var(--ion-color-primary);
                font-size: 14px;
            }
        }
        [chooseExpert]{
            margin-bottom: 15px;
            margin-top: 35px;
            ::ng-deep {
                .swiper-pagination{
                  display: none;
                }
            }

            h2{
              font-size: 20px;
              font-weight: 600;
              color: #000;
              display: flex;
              justify-content: space-between;
              align-items: center;
              span{
                  font-size: 14px;
                  font-weight: 400;
                  color: var(--ion-color-primary);
                  cursor: pointer;
              }
            }
            [slideBox]{
                margin-bottom: 13px;
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 100%;
                position: relative;
                box-shadow: none;

              img{
                width: 95px;
                margin-bottom: 3px;
                border-radius: 100px;
              }
              h3{
                margin: 0;
                padding-top: 4px;
                font-size: 13px;
                font-weight: 500;
                color: #000;
              }
              p{
                margin: 2px 0 0;
                font-size: 11px;
                color: #999999;
              }
            }
        }

        [boxShadow]{
            background-color: #fff;
            border-radius: 10px;
            margin: 13px 0 0;
            padding: 0 15px;
            [padBox]:last-child{
                border: none;
            }
        }
        [pdheading]{
            color: #898F97;
            p{
                margin: 0;
                a{
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
        [padBox] {
            margin: 0;
            display: flex;
            align-items: flex-start;
            width: 100%;
            position: relative;
            border-bottom: 1px solid #D4DBED;
            padding: 13px 0;
            h6{
                margin: 0;
            }
            [downLoadImg] {
                position: absolute;
                right: 45px;
                cursor: pointer;
                font-size: 13px;
                color: #949FAF;
                top: 18px;
                line-height: 18px;
                text-align: right;
                h6{
                    font-size: 12px;
                }
            }
            [downLoadImg1] {
                position: absolute;
                right: 0;
                top: 18px;

            }
            &[activesong]{
                ion-label{
                    [epiHeading]{
                        color: var(--ion-color-primary);
                    }
                }
            }
            ion-thumbnail {
                min-width: 45px;
                height: 45px;
                margin: 0px;
                position: relative;
                margin-right: 12px;
				a {
					display: block;
					height: 100%;
					img {
						height: 45px;
						min-width: 45px;
						object-fit: cover;
                        border-radius: 6px;
					}
				}
			}
            ion-label{
                a{
                    text-decoration: none;
                    display: block;
                    margin-bottom: 2px;
                }
                [epiHeading]{
                    font-weight: 500;
                    padding-right: 72px;
                    color: #fff;
                }
                h2{
                    font-size: 13px;
                    color: #949FAF;
                }
            }
        }
        [boxShadow]{
            padding: 0 15px;
            background: #151F2A;
            box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.12);
            border-radius: 8px;
            [padBox]:last-child{
                border: none;
            }
        }
    }
}

.btext{
    color: #898F97;
    margin-top: 10px;
}
