<ion-header>
  <ion-toolbar class="py-2" lines="none">
    <ion-buttons slot="start">
      <ion-icon routerLink="/podcast/podcastdetails" name="chevron-back-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="background-image: url('assets/images/glow.svg');">
  <div wrapper>
    <img src="assets/images/playbg.png" style="width: 100%;" />
    <div pdHeading>
      <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and...  <a routerLink="/">More</a> </p>
    </div>

    <div boxShadow>
      <div padBox>
        <ion-thumbnail>
          <a routerLink="/podcast/podcastplay"><img src="assets/images/play.svg"/></a>
        </ion-thumbnail>
        <ion-label>
          <h5 epiHeading>Episode 1</h5>
          <h2>23 May 2019</h2>
          <p class="btext">The Big Oxmox advised her not to do so, because there were thousands...</p>
        </ion-label>
        <h6 downLoadImg>
          <span>12:30</span> <br /> 10mb
        </h6>
        <h6 downLoadImg1>
          <img src="assets/images/download1.svg" />
        </h6>
      </div>
    </div>
    
    <div boxShadow>
      <div padBox>
        <ion-thumbnail>
          <a routerLink="/podcast/podcastplay"><img src="assets/images/play.svg"/></a>
        </ion-thumbnail>
        <ion-label>
          <h5 epiHeading>Episode 1</h5>
          <h2>23 May 2019</h2>
          <p class="btext">The Big Oxmox advised her not to do so, because there were thousands...</p>
        </ion-label>
        <h6 downLoadImg>
          <span>12:30</span> <br /> 10mb
        </h6>
        <h6 downLoadImg1>
          <img src="assets/images/download1.svg" />
        </h6>
      </div>
    </div>

    <div boxShadow>
      <div padBox>
        <ion-thumbnail>
          <a routerLink="/podcast/podcastplay"><img src="assets/images/play.svg"/></a>
        </ion-thumbnail>
        <ion-label>
          <h5 epiHeading>Episode 1</h5>
          <h2>23 May 2019</h2>
          <p class="btext">The Big Oxmox advised her not to do so, because there were thousands...</p>
        </ion-label>
        <h6 downLoadImg>
          <span>12:30</span> <br /> 10mb
        </h6>
        <h6 downLoadImg1>
          <img src="assets/images/download1.svg" />
        </h6>
      </div>
    </div>
  </div>
</ion-content>
