ion-header {
  padding: 0 15px;
  position: absolute;
  --box-shadow: none;

  ion-toolbar {
    background-color: transparent;
    --background: transparent;
    --border-width: 0;

    ion-title {
      color: #fff;
      font-size: 22px;
      text-transform: uppercase;
      font-weight: 500;
    }

    ion-buttons,
    ion-back-button {
      position: absolute;
      font-size: 20px;
      color: #fff;
      left: -10px;
      z-index: 99;

      ion-icon {
        font-size: 20px;
        color: #fff;
      }
    }
  }
}

.header-md::after {
  background-image: none
}

ion-content {
  --background: none;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;

  [wrapper] {
    padding: 60px 15px 0;

    ion-searchbar {
      --background: #78C9C3;
      border-radius: 16px;
      height: 50px;

      margin-top: 30px;
      padding: 0;
      --icon-color: #fff;
      margin-bottom: 20px;
      --placeholder-opacity: 1;

      ::ng-deep {
        .searchbar-input-container {
          height: 50px;

          .searchbar-input {
            color: #fff;
            padding-left: 40px;
            --padding-inline-start: 40px;

          }

          .searchbar-search-icon {
            left: 12px;
          }
        }
      }
    }

    [padBox] {
      margin-bottom: 13px;
      padding: 10px;
      display: flex;
      align-items: center;
      width: 100%;
      position: relative;
      background: #FFFFFF;
      box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.12);
      border-radius: 16px;

      [downLoadImg] {
        cursor: pointer;
      }

      ion-thumbnail {
        min-width: 100px;
        height: 100px;
        margin: 0px;
        position: relative;

        a {
          display: block;
          height: 100%;

          img {
            height: 100px;
            min-width: 100px;
            border-radius: 10px;
            object-fit: cover;
          }
        }
      }

      ion-label {
        white-space: normal;
        margin-right: 0px;
        padding-left: 10px;
        margin: 0;
        min-height: 102px;
        display: flex;
        flex-direction: column;
        width: 100%;

        [pricePro] {
          font-weight: 400;
          font-size: 16px;
          color: #737373;
          padding-right: 30px;

          span {
            color: #B2B2B2;
          }

          @media(max-width: 320px) {
            font-size: 15px;
          }
        }

        [pricePro1] {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: auto;
        }

        [category] {
          font-weight: 600;
          font-size: 20px;

          a {
            color: var(--ion-color-primary);
          }

          @media(max-width: 320px) {
            font-size: 15px;
          }
        }

        p {
          font-size: 18px;
          font-weight: 600;

          a {
            color: #000;
            text-decoration: none;
          }

        }
      }
    }
  }
}

[cateGory] {
  &[leftSlide] {
    left: 0;
    position: relative;
    margin-bottom: 20px;
  }

  ::ng-deep {
    .swiper-pagination {
      display: none;
    }
  }

  ion-slides {
    ion-slide {
      width: unset !important;
      h3 {
        font-size: 15px;
        padding: 5px 15px;
        border-radius: 16px;
        color: #fff;
        font-weight: 400;
        margin: 0;
      }

      &.active {
        h3 {
          background-color: #78C9C3;
          font-size: 15px;
        }
      }
    }
  }
}

.show-background {
  background-color: var(--ion-color-primary);
}
