<ion-header [class.show-background]="showToolbar">
  <ion-toolbar  class="py-2" lines="none">
    <ion-back-button slot="start" defaultHref="/tabs/settings"  icon="chevron-back-outline">
    </ion-back-button >
     <ion-title class="ion-text-center">RECIPES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)" style="background-image: url('assets/images/receipebg.jpg');">
  <div wrapper>
    <ion-searchbar showCancelButton="never" name="keyword" [(ngModel)]="keyword" (input)="change($event)"></ion-searchbar>
    <div cateGory leftSlide>
      <ion-slides  pager="true" [options]="slideOpts">
        <ion-slide class="active categories categoriesall" (click)="getreceipes()">
          <h3>All</h3>
        </ion-slide>
        <ion-slide *ngFor="let res of receipes" class="categories categories{{res?.id}}" (click)="showreceipes(res?.id)">
          <h3>{{res?.name}}</h3>
        </ion-slide>
      </ion-slides>
    </div>
<p *ngIf="subreceipes?.length==0">No records found</p>
    <div padBox    *ngFor="let rep of subreceipes;let i=index">
      <ion-thumbnail>
        <a routerLink="recipesdetails/{{rep?.id}}"><img src="{{IMAGES_URL}}/{{rep?.image}}"/></a>
      </ion-thumbnail>
      <ion-label>
        <p class="mt-0" category> <a routerLink="recipesdetails"><span>{{rep?.name}}</span></a> </p>
        <p pricePro>{{rep?.description.substring(0, 45)}}...</p>
        <p pricePro1>
          <strong>{{rep?.calories}} kcal</strong>
          <img [src]="rep.favorite==1 ? 'assets/images/selectedheart.svg' : 'assets/images/heart.svg'" (click)="markfavorite(rep?.id,i)" downLoadImg />
        </p>
      </ion-label>
    </div>
  </div>
</ion-content>
