/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
@import '~@ctrl/ngx-emoji-mart/picker.css';

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';


/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-picker{
  .picker-wrapper{
    border-radius: 35px 35px 0 0 !important;
    padding-top: 15px;
    .picker-toolbar
    {
       border-bottom: 0 !important;
    }
  }
  --border-color:transparent !important;
  .picker-toolbar-cancel{
    &.picker-toolbar-button{
      .picker-button{
        color: #BDC2C4 !important;
      }
    }

  }
  .picker-toolbar-button
  {
    .picker-button{
      color: #019B81 !important;
      font-weight: 400 !important;
      font-size: 21px !important;
    }
  }

}

// Android Css
.md
{
  .picker-toolbar {
    justify-content: space-between;
  }
  ion-item{
    --background:transparent
  }
  ion-datetime{
    color: #000;
  }
  ion-picker{
    --background:#fff;
    color: #000;
  }
  ion-button{
    height: 52px;
    font-size: 21px;
    text-transform: capitalize;
    box-shadow: none;
    --box-shadow: none;
  }
  form{
    ion-list{
      margin-bottom: 0 !important;
    }
  }
}

[bottomBtm]{
  position: absolute;
  left: 50%;
  bottom: 8%;
  transform: translate(-50%, 45%);
  margin-bottom: 0 !important;
  ion-button{
    height: 52px;
    width: 140px;
    text-transform: capitalize;
    font-size: 21px;
    box-shadow: none !important;
    --box-shadow: none !important;
  }
}


.filtermodal{
  --max-height: 420px;
  padding: 25px;
  .modal-wrapper
  {
    border-radius: 6px;
  }
}

.header-md::after,
.footer-md::before
{
  background-image: none;
}

.searchbar-input-container{
  --box-shadow: none !important;
}

.ExercisesFilterPage
{
	.modal-wrapper
	{
    max-height: 160px;
    min-height: 160px;
    margin: 0px 20px;
    border-radius: 20px;
	}
}

.appointMent
{
  .modal-wrapper
	{
    max-height: 160px;
    min-height: 55%;
    margin: 0;
    position: absolute;
    bottom: 0;
    border-radius: 20px 20px 0 0;
    h1{
      text-align: center;
      margin: 10px 0 25px 0;
    }
	}
}

[gwt-next-foot]  {
  ion-button:first-child
  {
    background-color: transparent !important;
    --background: transparent !important;
    --ion-color-base: transparent !important;
    --ion-color-contrast: #484848 !important;
    --padding-bottom: 0;
    --padding-end: 0;
    --padding-start: 0;
    --padding-top: 0;
    position: absolute;
    right: 12px;
    top: 36px;
    font-size: 17px !important;
    text-decoration: underline;
    width: auto !important;
    height: auto !important;
  }
}

.skipbtn {
  z-index: 999;
  background-color: transparent !important;
  --background: transparent !important;
  --ion-color-base: transparent !important;
  --ion-color-contrast: #484848 !important;
  --padding-bottom: 0;
  --padding-end: 0;
  --padding-start: 0;
  --padding-top: 0;
  position: absolute;
  right: 0;
  top: -50px;
  font-size: 20px !important;
  text-decoration: underline;
  width: auto !important;
  height: auto !important;
  color: #000 !important;
}

ion-calendar
{
  ion-button
  {
  &.back
  {
      transform: rotate(135deg);
  }
   &.forward
  {
      transform: rotate(-45deg);
  }
  &.forward , &.back
  {
  ion-icon
  {
  border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 0;
    width: 12px;
    height: 12px;
  }
  }
  }
}ion-modal.deletemodal {
    --max-height: 240px;
    --border-radius: 20px;
    --width: calc(100% - 40px);
}

.emoji-mart-preview{
  display:none
}

.emoji-mart-scroll
{
      height: 215px;
}
[error]
{
  color:red;
}