<ion-header>
  <ion-toolbar class="py-2" lines="none">
    <!--ion-buttons slot="start">
        <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-buttons-->
	<ion-back-button slot="start" defaultHref="/question14" text="" icon="chevron-back-outline"></ion-back-button>
    <!--ion-title class="ion-text-center"></ion-title-->
	<span slot="end" totalquestion>Question 13 <small>of 15</small></span>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div wrapper>
		<span icon-box>
			<img src="assets/images/qus15.svg" alt="">
		</span>
		<h1 choose-head>Intolerances</h1>
		<ion-list lines="none">
			<ion-item lines="none" class="ion-no-padding">
				<ion-select placeholder="Select"  name="intolerances" [(ngModel)]="intolerances">
					<ion-select-option value="{{in}}" *ngFor="let in of intol">{{in}}</ion-select-option>
					
				</ion-select>
			</ion-item>
			   <span error *ngIf="errors.indexOf(intolerances)>=0 && is_submit_signup == true ">Please select intolerances</span> 
		</ion-list>	
    </div>
</ion-content>
<ion-footer>
  <div gwt-next-foot class="ion-text-center">
  	 <ion-button shape="round" routerLink="/question16" color="primary">Skip</ion-button>
    <ion-button (click)="submit()" shape="round" color="primary">Next</ion-button>
  </div>
</ion-footer>