<ion-header>
  <ion-toolbar class="py-2" lines="none">
    <ion-buttons slot="start">
      <ion-icon routerLink="/tabs/settings" name="chevron-back-outline"></ion-icon>
    </ion-buttons>
     <ion-title class="ion-text-center">About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-image: url('assets/images/aboutusbg.svg');">
  <div wrapper>
    <h2>Benfit</h2>
    <p> Preheat the oven to 425. Wrap 1 of the yellow beets in foil and roast until fork tender, about 45 minutes. Let it cool, peel it, and thinly slice it. Chill until ready to use. </p>

    <p>  Make the dressing: Whisk together the olive oil, lemon juice, balsamic, garlic, mustard, herbs, salt, and pepper, and set aside. </p>

    <p>  Using a mandoline or sharp knife, thinly slice the remaining raw yellow beet, the chioggia beet, and the black radish. </p>

    <p>  Toss together the raw beets, watercress, some of the dressing, salt & pepper. Let that sit for 20 minutes or so, tossing occasionally, until the dressing reduces the bitterness in the radish. </p>

    <p>  Warm the wheatberries slightly and toss them with the spinach and some more of the dressing. Place the roasted beet, raw beets, radish and watercress on top along with some pine nuts and ricotta salata. Taste and adjust seasonings, adding more dressing if you like.</p>
  </div>
</ion-content>
