<ion-header>
  <ion-toolbar class="py-2" lines="none">
    <ion-buttons slot="start">
      <ion-icon routerLink="/settings" name="chevron-back-outline"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" class="rightSlot">
      <img routerLink="expertupdateprofile" src="assets/images/editicon.svg" /> Edit
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content> 
   <ion-img src="assets/images/image.jpg" *ngIf="errors.indexOf(userdetails?.cover_image)>=0" fiximg></ion-img>

    <ion-img src="{{IMAGES_URL}}/{{userdetails?.cover_image}}" *ngIf="errors.indexOf(userdetails?.cover_image)==-1" fiximg></ion-img>

  <div login>
    <ion-item lines="none" imgContent>
    <ion-img src="assets/images/image.jpg" *ngIf="errors.indexOf(userdetails?.image)>=0" logo></ion-img>
    <ion-img src="{{IMAGES_URL}}/{{userdetails?.image}}" *ngIf="errors.indexOf(userdetails?.image)==-1" logo></ion-img>
    <div class="ion-text-left">
        <h1>{{userdetails?.first_name}} {{userdetails?.last_name}}, 23</h1>
        <p>{{userdetails?.title}}</p>
      </div>
      <!-- <img routerLink="/chat" chicon src="assets/images/chatic.svg" /> -->
    </ion-item>

    <div class="p15 mt45">
      <ion-segment [(ngModel)]="profile" color="primary">
        <ion-segment-button lines="no" value="posts">
            <span>Posts</span>
        </ion-segment-button>
        <ion-segment-button value="appointments">
          <span>Appointments</span>
        </ion-segment-button>
      </ion-segment>
      <div [ngSwitch]="profile">
        <div *ngSwitchCase="'posts'">
          <ion-grid class="ion-no-padding">
            <ion-row>
              <p *ngIf="posts?.length==0">No Posts Found</p>
              <ion-col size="4" *ngFor="let p of posts;let i=index;">
              
                <ng-container *ngIf="checkurl(p?.image)==true" >
                <img src="{{IMAGES_URL}}/{{p?.image}}" (click)="clickImage(p?.image)" gymimg />
              </ng-container>

            <ng-container *ngIf="checkurl(p?.image)==false">
            <video  height="125" controls style="width: 100%;" (click)="openFullscreen(p?.image)">
            <source src="{{IMAGES_URL}}/{{p?.image}}" type="video/mp4">
            </video>

            </ng-container>
                
              </ion-col> 
            </ion-row>
          </ion-grid>
        </div>
  
        <div *ngSwitchCase="'appointments'" class="appointDiv">
          <ion-grid class="ion-no-padding">
            <ion-row>
              <ion-col offset="7" size="5">
                <ion-list lines="none">
                  <ion-item lines="none" class="ion-no-padding">
                      <ion-select placeholder="Pending">
                        <ion-select-option value="pen">Pending</ion-select-option>
                        <ion-select-option value="acc">Accept</ion-select-option>
                      </ion-select>
                  </ion-item>
                </ion-list>	
              </ion-col>
            </ion-row>
          </ion-grid>
          
          <div class="weekBox">
            <input id="checkbox" checked="checked" class="checkbox-custom" name="checkbox" type="checkbox">
            <label for="checkbox" class="checkbox-custom-label">
              <div padBox>
                <ion-thumbnail>
                  <img src="assets/images/us.png"/>
                </ion-thumbnail>
                <div>
                  <p pricePro>Grace Malton</p>
                  <p class="mt-0" category><span>Online Session</span> </p>
                  <p pricePro1> 9:30 am . 14 July 2021 </p>
                </div>
              </div>
            </label>
          </div>

          <div class="weekBox">
            <input id="checkbox1" class="checkbox-custom" name="checkbox1" type="checkbox">
            <label for="checkbox1" class="checkbox-custom-label">
              <div padBox>
                <ion-thumbnail>
                   <img src="assets/images/us.png"/>
                </ion-thumbnail>
                <div>
                  <p pricePro>Grace Malton</p>
                  <p class="mt-0" category><span>Online Session</span> </p>
                  <p pricePro1> 9:30 am . 14 July 2021 </p>
                </div>
              </div>
            </label>
          </div>

          <div class="weekBox">
            <input id="checkbox2" class="checkbox-custom" name="checkbox2" type="checkbox">
            <label for="checkbox2" class="checkbox-custom-label">
              <div padBox>
                <ion-thumbnail>
                   <img src="assets/images/us.png"/>
                </ion-thumbnail>
                <div>
                  <p pricePro>Grace Malton</p>
                  <p class="mt-0" category><span>Online Session</span> </p>
                  <p pricePro1> 9:30 am . 14 July 2021 </p>
                </div>
              </div>
            </label>
          </div>

        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">




  <ion-fab-button >
   <label  for="lae-imgs2"class="icon-cy" routerLink="/gallery/newpost">
      
    <img src="assets/images/editexpert.svg" /> Change Cover
      <!--input style="visibility:hidden; width:0px; height:0px;" id="lae-imgs2" 
      (change)="uploadLicense($event,'post')" name="user-img" type="file" -->
      </label>
  </ion-fab-button>
</ion-fab>